<div id="footer">
    <div class="link fix">
      <div class="linkleft flL"><%= image_tag 'linkleft.gif' %></div>
      <div class="linklist flL">
        <div class="linktitle">      
          <h1 style="color:white;">   深圳市雅卓科技有限公司 </h1>
          </div>

        <div id="area" class="linkArea">
          <div id="list">
          <div id="list01">
       <h2 style= "color:white;">
           
            通信地址：深圳市福田区车公庙泰然工贸园203栋303<br/>
            邮编：518040 联系人：吴楠通13530137007 电话：0755-82719662<br/>
            传真：0755-82719669 E-Mail：75130396@qq.com QQ/MSN：75130396<br/>
            粤ICP备11087219号 站长统计<br/>
         <h2/>                   
            </ul>
          </div>
          <div id="list02"></div>
          </div>
        </div>
      </div>
      <div class="linkright flL"><%= image_tag 'linkright.gif' %></div>
    </div>
    <div class="copyright" style="color:#36333F;"></div>
  </div>
